<form [formGroup]="formulario">
    @if (formulario.get('nome').hasError('required') && formulario.get('nome').touched){
        <p class="alert alert-warning">O campo nome é obrigatorio</p>
    }
    @if (formulario.get('nome').hasError('minlength') && formulario.get('nome').touched){
        <p class="alert alert-warning">O campo nome precisa ter pelo menos 3 caracteres</p>
    }

    <input type="text" formcontrolName="nome" placeholder="Nome" class="form-control">

    @if (formulario.get('idade').hasError('required') && formulario.get('idade').touched){
        <p class="alert alert-warning">O campo idade é obrigatorio</p>
    }

    @if (formulario.get('idade').hasError('min') && formulario.get('idade').touched){
        <p class="alert alert-warning">O campo idade não aceita números inferiores a 0</p>
    }

    @if (formulario.get('idade').hasError('max') && formulario.get('idade').touched){
        <p class="alert alert-warning">O campo idade não aceita números superior a 120</p>
    }
    
    <input type="number" formcontrolName="idade" placeholder="Idade" class="form-control">
    <input type="text" formcontrolName="cidade" placeholder="Cidade" class="form-control">
    
    @if (formulario.get('cidade').hasError('required') && formulario.get('cidade').touched){
        <p class="alert alert-warning">O campo cidade é obrigatorio</p>
    }

    @if (formulario.get('cidade').hasError('minlength') && formulario.get('cidade').touched){
        <p class="alert alert-warning">O campo cidade precisa conter pelo menos 3 caracteres</p>
    }
    
    @if (btnCadastrar){
        <input type="submit" value="Cadastrar" class="btn btn-primary" (click)="cadastrar()" [disabled]="formulario.invalid">
    } @else{
        <input type="text" formcontrolName="cidade" placeholder="Cidade" class="form-control">
        <input type="submit" value="Alterar" class="btn btn-primary bg-success border-0">
        <input type="submit" value="Remover" class="btn btn-primary bg-danger border-0">
        <input type="submit" value="Cancelar" class="btn btn-primary bg-warning border-0">
    }

</form>

<table class="table">
    <thead>
        <tr>
            <th>Selecionar</th>
        </tr>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Cidade</th>
            <th>Selecionar</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>Selecionar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let v of vetor; index as indice">
            <td>{{indice +  1}}</td>
            <td>{{v.nome}}</td>
            <td>{{v.idade}}</td>
            <td>{{v.cidade}}</td>
            <td><button class="btn btn-primary">Selecionar</button></td>
        </tr>
    </tbody>
</table>